__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
.env
.env.*
!.env.example

.vscode/
.idea/

client_secrets.json
mycreds.txt

registered.json
registered_images/
namtran*.jpg
*_crop.jpg

*.m4a
*.wav
transcription.txt
tempCodeRunnerFile.py

cuda_sdk_lib/

esp32_homekit/
